[Unit]
Description=MIVS
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/python3 /home/ubuntu/mivs/main_listener.py
Restart=always

[Install]
WantedBy=multi-user.target

